@model dynamic

<div class="container">
	<h1>Whoops!</h1>
	<p>Well, this is embarassing, but something has gone wrong. We've been notified about the error, and we'll look into it as soon as we can, but if this is holding you up, <a href="mailto:support@vivantio.com">email support</a>.</p>
</div>